

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>       
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progreso1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'" ></div>
        </div>
        <div class="progress mt-2">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progreso2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'" ></div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">

    <div class="col-6">
        <div class="card">
          <div class="card-body"> 

            <app-incrementador (actualizaValor)="progreso1 = $event " nombre="Progess Azul" [progreso]="progreso1"></app-incrementador>
            
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">    
            <app-incrementador nombre="Progress Verde" (actualizaValor)="progreso2 = $event " [progreso]="progreso2"></app-incrementador>
        </div>
      </div>
    </div>
    
</div>
